header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
  background-color: #394673f9;
  opacity: 1;
}
.logoText {
  /* padding: 1rem 1rem; */
  /* font-size: 1.5rem; */
  line-height: 2rem;
  font-weight: 800;
  color: black;
}
.link {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}
/* .link:hover {
  background-color: #dadada;
  border-radius: 0.5rem;
} */
.linkActive {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  background-color: #4f64aef9;
  border-radius: 0.5rem;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
}

li {
  margin: 0 1rem;
  list-style-type: none;
}
